<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.volcengine.mars"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".demo.update.UpdateDemoActivity"
            android:label="发布服务">
            <intent-filter>
                <action android:name="com.volcengine.mars.action.demo" />
            </intent-filter>
        </activity>
    </application>

</manifest>