<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.volcengine.mars"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name=".demo.update.UpdateDemoActivity"
            android:label="发布服务">
            <intent-filter>
                <action android:name="com.volcengine.mars.action.demo" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.mars.android.update"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false" >
            <meta-data
                android:resource="@xml/filepaths"
                android:name="android.support.FILE_PROVIDER_PATHS"/>
        </provider>
    </application>

</manifest>