<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volcengine.mars.demo.permission">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application>
        <activity android:name="com.volcengine.mars.demo.permission.PermissionDemoActivity"
            android:label="动态权限申请">
            <intent-filter>
                <action android:name="com.volcengine.mars.action.demo" />
            </intent-filter>
        </activity>
    </application>
</manifest>
