<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bd.bdtrackerdemo">

    <application>
        <activity
            android:name=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="埋点上报">
            <intent-filter>
                <action android:name="com.volcengine.mars.action.demo" />
            </intent-filter>
        </activity>

        <activity android:name=".ListActivity" />
        <!--        暂时先不使用InitActivity-->
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
    </application>
</manifest>
