<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volcengine.mars.demo.okhttp">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name="com.volcengine.mars.demo.okhttp.OkHttpDemoActivity"
            android:label="网络数据请求">
            <intent-filter>
                <action android:name="com.volcengine.mars.action.demo" />
            </intent-filter>
        </activity>
    </application>
</manifest>